h1 {
  color: blue;
  font-size: 70px;
  text-align: center;
  background-color: red;
}
#manuel {
  color: yellow;
  font-size: 50px;
  text-align: left;
  background-color: rgb(195, 0, 255);
}
#juan {
  color: rgb(21, 255, 0);
  font-size: 50px;
  text-align: center;
  background-color: orange;
}
h3 {
  color: rgb(0, 38, 255);
  font-size: 20px;
  text-align: center;
  background-color: orange;
}
p {
  color: rgb(7, 63, 3);
  font-size: 20px;
  text-align: right;
  background-color: rgb(6, 255, 110);
}
